/* G l o b a l  S t y l e s */

:root {
      --shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
            0px 8px 13px rgba(0, 0, 0, 0.1),
            0px 18px 23px rgba(0, 0, 0, 0.1);
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

html {
      font-size: 62.5%;
      scroll-behavior: smooth;
}

body {
      font-family: 'Poppins', sans-serif;
}

h1 {
      font-size: 2.6rem;
}

li,
button,
label,
input,
p {
      font-size: 2rem;
}

h2 {
      font-size: 4rem;

}

h3 {
      font-size: 3rem;
      font-weight: normal;
}

h4,
h5 {
      font-size: 2.8rem;
}

a {
      color: white;
      text-decoration: none;
}



/* N a v - b a r */



.main-head {
      background-color: #343c44;
      color: white;
}

nav {
      min-height: 10vh;
      display: flex;
      width: 90%;
      margin: auto;
      align-items: center;
      padding: 2rem;
      position: sticky;
      flex-wrap: wrap;
}

nav ul {
      display: flex;
      list-style: none;
      flex: 1 1 40rem;
      justify-content: space-around;
      align-items: center;
      letter-spacing: .2rem;

}

#logo {
      flex: 2 1 40rem;
      font-family: 'Pattaya', sans-serif;
      font-size: 5rem;
      color: #52bab3;
      transition: .5s;
}



.hero {
      min-height: 90vh;
      background-image: linear-gradient(rgba(0, 0, 0, .5), transparent), url(./img/landing-page.jpg);
      background-size: cover;
      background-position: center;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

}

.hero h2,
.hero h3 {
      padding: 2rem;
      text-shadow: var(--shadow);
}



.book-btn {
      padding: 1rem 4rem;
      background-color: rgba(82, 186, 179, .5);
      border: 2px solid rgba(82, 186, 179, .5);
      color: white;
      margin-top: 18rem;
      transition: .5s ease-in-out;
      border-radius: .5rem;
      outline: none;
      cursor: pointer;
      text-transform: uppercase;



}

.book-btn:hover {
      background-color: rgb(82, 186, 179);
      color: black;
      border: 2px solid transparent;

}


/* L o c a t i o n s     S e c t i o n */

#locations {
      min-height: 100vh;
      background-image: linear-gradient(rgba(0, 0, 0, .5), transparent), url('./img/new-york-page.png');
      background-size: cover;
      position: center;
      display: flex;
      align-items: center;
      position: relative;
      overflow: hidden;
      /* All content out of viewport not there */
}

.locations-head {
      width: 95%;
      margin: auto;
      margin-bottom: 50vh;
      color: white;
      text-shadow: var(--shadow);

}

.locations-head h2 {
      letter-spacing: .2rem;


}

.locations-head h3 {
      padding: 2.5rem 0rem;

}

.cloud {
      position: absolute;
      top: 0%;
      right: 0%;
}

.moving-cloud-1 {
      top: -10%;
      right: -10%;
      z-index: -1;
      opacity: 0.5;
      animation: cloudAnimation2 40s infinite ease-in-out;
}

.moving-cloud-2 {
      animation: cloudAnimation1 40s infinite ease-in-out;

}




@keyframes cloudAnimation1 {
      from {
            transform: translate(0%, 0%)
      }

      to {
            transform: translate(100%, 0%)
      }
}

@keyframes cloudAnimation2 {
      from {
            transform: translate(0%, 0%)
      }

      to {
            transform: translate(100%, -30%)
      }
}



/* B e n e f i t s     S e c t i o n */

#benefits {

      min-height: 100vh;
      background: white;

}


.benefits-head {
      background-color: #343c44;
      padding: 3rem;
      min-height: 30vh;
      display: flex;
      align-items: center;
      justify-self: center;
      flex-direction: column;
      text-align: center;
      color: white;

}

.benefits-head h3 {
      padding: 1rem;

}

.cards {
      width: 90%;
      margin: 20vh auto;
      display: flex;
      min-height: 60%;
      flex-wrap: wrap;
}

.cards img {
      height: 6rem;
      margin: 2rem;
}

.card-icon {
      display: flex;
      background: #52bab3;
      min-height: 8vh;
      justify-content: center;
      align-items: center;
}

.card {

      flex: 1 1 40rem;
      min-height: 30vh;
      margin: 2rem;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, .2), 0px 20px 20px rgba(0, 0, 0, .2);
      text-align: center;
      transition: .5s;
      flex-basis: 30rem;


}

.card h2 {
      padding: 2rem;
      font-size: 3.2rem;
}

.card p {
      font-size: 2rem;
      padding: 2rem;
}



.card:hover {
      box-shadow: 0px 10px 10px rgba(82, 186, 179, 0.541), 0px 20px 20px rgba(0, 0, 0, .2);
}


/* C o n t a c t   S e c t i o n */


#contact {
      min-height: calc(100vh - 10vh);
      background: linear-gradient(rgba(0, 0, 0, .5), transparent), url(./img/contact-mountain.png);
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;

}

.form-wrapper {
      background: rgba(0, 0, 0, .7);
      width: 800px;
      color: white;
      border-radius: 2rem;

}

.form-head {
      text-align: center;
      padding: 4rem;
      text-shadow: var(--shadow);
}

.name-form,
.email-form {
      text-align: center;
      padding: 3rem;

}

.form-wrapper label {
      margin: 1rem;
}

.form-wrapper button {
      width: 100%;
      border-radius: 0rem 0rem 2rem 2rem;
      margin-top: 8rem;
}

.form-wrapper input {
      padding: 1rem 1.3rem;
      outline: none;
      background-color: rgba(255, 255, 255, 0.85)
}

.form-head h2 {
      font-size: 3.2rem;
}

.name-form label,
.name-form input,
.email-form label,
.email-form input {
      display: block;
      margin: 0 auto;
}

.name-form input,
.email-form input {
      min-width: 50%;
}

/* F o o t e r */

footer {
      background-color: #343c44;
      color: white;
}

.footer-wrapper {
      display: flex;
      padding: 2rem;
      width: 90%;
      margin: auto;
      align-items: center;
      min-height: 10vh;
}

.footer-wrapper ul {
      list-style: none;
      display: flex;
      flex: 1 1 40rem;
      justify-content: space-between;
}

.footer-wrapper h5 {
      list-style: none;
      display: flex;
      flex: 1 1 40rem;
      font-family: 'Pattaya', sans-serif;
      font-size: 3.5rem;
      color: #52bab3;
}



/* M e d i a   Q u e r i e s */




@media screen and (max-width: 1280px) {

      nav {
            text-align: center;
      }

      #logo {
            padding: 1rem;
      }

      .cloud {
            top: -20%;
      }

      .form-wrapper {
            margin: 0 10rem;
      }

}

@media screen and (max-width: 660px) {

      /* F i r s t  P a g e */

      nav ul {
            display: block;
      }

      .book-btn {
            margin-top: 10rem;
      }

      .hero h2 {
            font-size: 3.2rem;

            margin-bottom: 5rem;
      }

      .hero h3 {
            font-size: 2rem;
      }

      .link {
            display: block;
      }

      /* S e c o n d  P a g e */

      .moving-cloud-1 {
            display: none;
      }

      .moving-cloud-2 {
            top: -30%;
      }

      .benefits-head h3 {
            font-size: 2rem;
      }

      .card h2 {
            font-size: 3.2rem;
      }

      .card p {
            padding: 4rem;
            font-size: 2rem;
      }

      .locations-head h2 {
            font-size: 3.2rem;
      }

      .locations-head h3 {
            font-size: 2rem;
            width: 300px;
      }

      /* T h i r d  P a g e */

      .benefits-head h2 {
            font-size: 3.2rem;
      }

      .benefits-head h3 {
            font-size: 2rem;
      }

      .cloud {
            top: -50%;
      }

      .cards {
            margin: 0 auto;
      }


}